div.menu
  MenuLink(name="introduction")
  MenuLink(name="getting-started")
  MenuLink(name="terminology")
  MenuLink(name="blocks")
    MenuLink(name="blocks", submenu="d-if")
    MenuLink(name="blocks", submenu="d-switch")
div.menu-content
  Introduction
  GettingStarted
  Terminology
  Blocks
