html {
  font-family: "Helvetica Neue",Segoe UI,Helvetica,Roboto,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.root {
  max-width: 960px;
  margin: 0 auto;
}

code {
  background-color: #ebebeb;
}

pre code {
  background-color: inherit;
}

pre {
  padding: 3px 8px;
  background-color: #e8e8e8;
  max-width: 100%;
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 0.25em solid #ccc;
  color: #666;
}

.hljs-keyword,
.hljs-literal {
  color: #00d;
}

.hljs-string {
  color: #0b0;
}

.hljs-number {
  color: #44f;
}

.hljs-regexp {
  color: orange;
}

.hljs-built_in {
  color: purple;
}

.hljs-tag .hljs-name {
  color: blue;
}

.hljs-tag .hljs-attr {
  color: #911;
}

.route-root {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.menu {
  position: relative;
  flex: 0 0 200px;
  margin-top: 20px;
  margin-right: 20px;
}

.menu:after {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  right: 0;
  width: 2px;
  height: calc(100% + 20px);
  background-color: black;
}

.menu a {
  display: block;
}

.menu-content {
  flex: 0 0 calc(100% - 220px);
  max-width: calc(100% - 220px);
}

@media all and (max-width: 450px) {
  .menu,
  .menu-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .menu:after {
    content: none;
  }
}

.submenu-link {
  margin-left: 20px;
}

.next-link:after {
  content: " \2192";
}

.prev-link {
  margin-right: 20px;
}

.prev-link:before {
  content: "\2190\00a0";
}

a {
  color: blue;
}
