div.menu
  MenuLink(name="introduction")
  MenuLink(name="getting-started")
  MenuLink(name="terminology")
  MenuLink(name="app-lifecycle")
  MenuLink(name="block-lifecycle")
  MenuLink(name="mixin-lifecycle")
  MenuLink(name="blocks")
    MenuLink(name="blocks", submenu="d-if")
    MenuLink(name="blocks", submenu="d-switch")
div.menu-content
  Introduction
  GettingStarted
  Terminology
  AppLifecycle
  BlockLifecycle
  MixinLifecycle
  Blocks
