div.menu
  MenuLink(name="introduction")
  MenuLink(name="getting-started")
  MenuLink(name="terminology")
  MenuLink(name="app-lifecycle")
  MenuLink(name="block-lifecycle")
  MenuLink(name="mixin-lifecycle")
  MenuLink(name="embedded-js")
  MenuLink(name="blocks", hasSubmenu)
    MenuLink(name="blocks", submenu="d-if")
    MenuLink(name="blocks", submenu="d-switch")
    MenuLink(name="blocks", submenu="d-block")
    MenuLink(name="blocks", submenu="d-each")
  MenuLink(name="mixins", hasSubmenu)
    MenuLink(name="mixins", submenu="d-show")
    MenuLink(name="mixins", submenu="d-hide")
    MenuLink(name="mixins", submenu="d-node")
    MenuLink(name="mixins", submenu="d-elem")
    MenuLink(name="mixins", submenu="d-style")
    MenuLink(name="mixins", submenu="d-attr")
    MenuLink(name="mixins", submenu="d-class")
    MenuLink(name="mixins", submenu="d-bind")
    MenuLink(name="mixins", submenu="d-on")
    MenuLink(name="mixins", submenu="d-value")
div.menu-content
  Introduction
  GettingStarted
  Terminology
  AppLifecycle
  BlockLifecycle
  MixinLifecycle
  EmbeddedJS
  Blocks
  Mixins
